{% extends "base.html" %}

{% block content %}
<h1 class="main-h1">Champion List</h1>
<hr class="main-hr">
<p class="main-p">Hello {{ user.username }}! To create, edit or delete items from this list then please proceed to the <a href="{% url 'admin:index' %}">admin panel</a>.</p>
<p class="main-p">This should only be done in cases of an error or changes to a champion on riots end, or a brand new champion is released. DO NOT REMOVE any champion unless they have recieved a full rework that would make all guides obselete.</p>
<hr class="main-hr">
<div class="container-fluid">
    <div class="row">

        <!-- Post Column. Original code taken from https://github.com/Welshy92/i-think-blog/blob/main/templates/index.html  -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for champ in champion_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <img class="card-img-top">
                                {% if "TOP" in post.position %}
                                <img src="https://static.wikia.nocookie.net/leagueoflegends/images/e/ef/Top_icon.png" alt="Top Lane">
                                {% elif "JNG" in post.position %}
                                <img src="https://static.wikia.nocookie.net/leagueoflegends/images/1/1b/Jungle_icon.png" alt="Jungle">
                                {% elif "MID" in post.position %}
                                <img src="https://static.wikia.nocookie.net/leagueoflegends/images/9/98/Middle_icon.png" alt="Mid Lane">
                                {% elif "ADC" in post.position %}
                                <img src="https://static.wikia.nocookie.net/leagueoflegends/images/9/97/Bottom_icon.png" alt="Marksman">
                                {% elif "SUP" in post.position %}
                                <img src="https://static.wikia.nocookie.net/leagueoflegends/images/e/e0/Support_icon.png" alt="Support">
                                {% endif %}
                            </div>
                                <h2 class="card-title">{{ champ.champion_name }}</h2>
                                <p class="card-text">{{ champ.title }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock%}