{% extends "base.html" %}

{% block content %}
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
    (function(){
       emailjs.init("Ao5LFvu3enHCFTcZ3");
    })();
</script>

<section class="container-fluid">
    <div class="row bg-color-contact">
        <div class="col">
            <h1 class="main-h1">Got something to say?</h3>
            <p class="main-p">Got a request? Or maybe just some feedback? We would be happy to hear from you! Just fill in the form below.</p>

            <div class="shift-div">
                <form onsubmit="return sendMail(this);" name="contact-form">
                    <input type="text" name="name" id="name" class="form-control form-extra" placeholder="Name/Username" required />
                    <textarea rows="5" name="details" id="details" class="form-control form-extra" placeholder="Suggestion/Feedback here." required></textarea>
                    <div>
                        <button type="submit" class="btn btn-secondary post-btn2 post-btn" onclick="emailSent()">Send request</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    
<script src="static/js/sendemail.js"></script>
</section>

{% endblock %}