{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<h1 class="main-h1">Create A New Post</h1>
<p class="main-p">Creating a post on this site is simple. Just fill in the form below. All that we ask is that what you post is a guide or tips for a champion in a single role. You can add general tips too but try and be specific to the role you are writing for.</p>
<p class="main-p">A few things to note. The title MUST be unique and has a 100 character limit. The slug must also be unique and 100 character max. The slug must also have no spaces (try using dashes instead!) and be in lowercase. The exerpt will appear on the page with other posts so make it catchy! That has a 200 character limit.</p>

<form method="post" style="margin-top: 1.3em;">
    {{ post_form | crispy }}
    {% csrf_token %}
    <button type="submit" class="btn btn-singup btn-lg post-btn">Submit</button>
</form>
{% endblock%}