{% extends "base.html" %}

{% block content %}
<h1>Welcome To Everyday Legends!</h1>
<h3>Your number 1 source to get your opinion on the game heard.</h3>

<div class="container-fluid">
    <div class="row">

        <!-- Post Column. Original code taken from https://github.com/Welshy92/i-think-blog/blob/main/templates/index.html  -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <img class="card-img-top">
                                    {% if "TOP" in post.position %}
                                        <img src="../static/images/pos-top.png" alt="Top Lane">
                                    {% elif "JNG" in post.position %}
                                        <img src="../static/images/pos-jng.png" alt="Jungle">
                                    {% elif "MID" in post.position %}
                                        <img src="../static/images/pos-mid.png" alt="Mid Lane">
                                    {% elif "ADC" in post.position %}
                                        <img src="../static/images/pos-adc.png" alt="Marksman">
                                    {% elif "SUP" in post.position %}
                                        <img src="../static/images/pos-sup.png" alt="Support">
                                    {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'user_post' post.slug  %}" class="user-post">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                            {% if request.user == post.author %}
                            <p>
                                <a href="{% url 'edit_post' post.slug %}">
                                    <button type="submit">EDIT</button>
                                </a>
                                &nbsp;
                                <a href="{% url 'delete_post' post.slug %}">
                                    <button type="submit">DELETE</button>
                                </a>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
        <!-- End of borrowed code -->
</div>
{%endblock%}